{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "globals": {
        "$": false,
        "chai": true,
        "expect": true
    },
    "extends": [
        "standard",
        "standard-react"
    ],
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1}],
        "space-before-function-paren": [2, "never"],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4]
    },
    "ecmaFeatures": {
        "modules": true
    }
}
