.showcase {
    position: relative;
    max-width: 600px;
    padding: 1em 1.5em;
    margin: 50px auto;
    border: 1px solid $c-border;

    &--separate-inner {
        display: flex;
        justify-content: space-between;
    }

    &--middle-inner {
        height: 200px;
        background: $gold;
        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.showcase {
    &__content-wrap {
        margin: .9em;
    }

    &__title {
        display: inline;
        position: absolute;
        top: -.6em;
        background: $c-background;
        padding: 0 .2em;

        &-left {
            left: 1.5em;
        }
    }
}
